h1 {
    color: navy;
}

h2 {
    color: orange;
    border: 1px solid black;
}

.hari {
    color: red;
    font-size: 30px;
}

.fact {
    color: navy;
    border: none;
}

.box {
    width: 120px;
    height: 120px;
    background-color: teal;
    box-shadow: 2px 2px 2px 2px black;
}