@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


.container {
  max-width: 1170px;
  width: 50%;
  padding: 0 10px;
  margin: 0 auto;
}

.container p {
  font-size: 25 px;
  font-family: "Dancing Script", cursive;
}

header {
  height: 50px;
  width: 100%;
  background-color: var(--color-bg-header);
  position: fixed;
  top: 0;
  
}

.main-bg {
  background-image: url("./img/bharath-g-s-aLGiPJ4XRO4-unsplash.jpg");
  
}

.main-section {
  padding: 50px 0 20px 0;
  background-color: var(--color-bg-main);
  background-size: cover;
  color: rgb(160, 26, 93);
  text-align: center;
  font-family: cursive;

}

.main-section h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 2px;
  margin-bottom: 9px;
  text-align: center;
}

.sayur{
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes slidein {
  0% { margin-left:-800px; }
  20% { margin-left:-800px; }
  35% { margin-left:0px; }
  100% { margin-left:0px; }
}
.main-section h2 {
  opacity: 0.8;
  font-size: 30px;
  letter-spacing: 5px;
  text-align: center;
}


.btn {
  padding: 6px 12px;
  color: rgb(175, 63, 185);
  border-radius: 7px;
  text-align: center;
}

.subscribe {
  background-color: #973667;
  margin-right: 11px;
  color: rgb(191, 209, 205);
}


.btn:hover {
  opacity: 1;
}


.extra-section {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: var(--color-bg-extra);
  text-align: center;
  height: 515px;
  vertical-align: auto;
  background-image: url("./img/brandi-redd-aJTiW00qqtI-unsplash.jpg");
}

.extra-section h2 {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}

.plan-icon img {
  border-radius: 50%;
  border: 1px solid rgb(80, 80, 184);
}

.plan {
  float: left;
  width: 30%;
  margin-left: 25px;
}

.plan p {
  font-size: 15px;
}

.plan-icon {
  position: relative;
}

.plan-icon p {
  position: absolute;
  top: 30%;
  width: 100%;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 2px 2px black;
  font-size: 23px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

input,
textarea {
  width: 400px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #7b9cad;
  border-radius: 14px;
  background-color: var(--color-bg-contact);
 position: relative;
 left: 0%;
}

.contact-submit {
  background-color: #e0277d;
  color: #e5eff5;
  font-weight: bold;
  position: relative;
  left: 0%;
}


footer {
  width: 100%;
  float: right;
  height: 50px;
  background-color: var(--color-bg-footer);
  padding-top: 10px;
  padding-bottom: 2px;
}








