* {
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    background-color: black;
    background-image: url("https://i.gifer.com/3iCL.gif");
    font-family: 'Abel', sans-serif;
    margin: 0 auto;
}

.judul {
    color: white;
    font-weight: normal;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}

.judul h1 {
    text-align: center;     
    font-weight: normal;
    letter-spacing: 30px;
    padding-top: 3%;
    opacity: 60%;
    animation: text 5s 1;
}

.judul span {
    color: #ff7675;
}


@keyframes text {
    0% {
      opacity: 0;
      letter-spacing: normal;
    }
    30% {
      letter-spacing: 60px;
      opacity: 0.1;
    }
    85% {
      opacity: 0.7;
      letter-spacing: 30px;
    }
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

img {
    border-radius: 250px 0px 0px 250px;
    opacity: 80%;
    object-fit: contain;
    height: 30vw;
    width: 30vw;
}

.biodata {
    background-image: linear-gradient(#ece2dc, #e4e2dc, #ece2dc, #e4e2dc, #ece2dc);
    height: 30vw;
    width: 30vw;
    color:black;
    padding-left: 1.5vw;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

h4 {
    line-height: 1px;
    font-size: 1.4vw;
    padding-bottom: 0%;
}

h3 {
    font-size: 2vw;
    letter-spacing: 2px;
    font-family: 'Allison', cursive;
    line-height: 1vw;
    padding-bottom: 0.5vw;
    margin-top: 0%;
}   

ul, form {
    font-size: 1.3vw;
    margin-bottom: 5%;
}

textarea {
    height: 3vw;
    margin-top: 0%;
}

ul {
    padding-left: 5%;
}

::placeholder {
    font-size: 1vw;
}

a {
    color: black;
    cursor: pointer;
}

textarea {
    width: 80%;
}



input[type=submit] {
    text-align: center;
    border-radius: 250%;
    width: 3vw;
    height: 3vw;
    font-weight: bold;
    color: white;
    font-family: 'Abel', sans-serif;
    background-color: #ff7675;
    position:absolute;
    transition: 0.8s;
    font-size: 1.2vw;
}

input[type=submit]:hover {
    background-color: #fab1a0;
    color: #636e72;
    cursor: pointer;
}

input[type=submit]:active, input[type=submit]:focus {
    background-color:#d63031;
    color: white;
}

.footer p {
    color: white;
    bottom: 0%;
    text-align: center;
    font-family: 'Abel', sans-serif;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.4;
    font-weight: bold;
}

.boxAtas > .smallbox {
    background: red;
}

/* For Smartphones */
@media all and (max-width: 670px) {

    
    .biodata, img {
        width: 50vw;
        height: 50vw;
    }

    h3 {
        font-size: 5vw;
    }

    h4, ul, label {
        font-size: 2vw;
    }

    ::placeholder {
        font-size: 1.8vw;
    }

    textarea {
        height: 5vw;
    }
}