body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login-form {
    height: 10vh;
    font-size: 1vw;
}

.buttons {
    height: 25vh;
}

.ganjil-genap, .bonus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}