.box {
    width: 200px;
    height: 200px;
    background-color: teal;
}

.container {
    height: 50vh;
    width: 60vw;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}