* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#center{
    text-align: center;
    background-color: rgb(182, 175, 162);
}

.center1{
    text-align: center;
}

.center2{
    background-color: red;
    height: max-content;
    padding: 10px;
    border: solid;
    display: flex;
    flex-direction: row;
    flex-direction: column-reverse;
    
    

    
}

h1 {
    color: rgb(255, 189, 6);
}

input{
    width: 400px;
}

.containerPesan{
    background-color: rgba(206, 187, 16, 0.295);
    padding-top: 10px;
    text-align: center;
}   

.containerPesan p{
    color: rgb(255, 187, 0);
    
}



textarea{
    border-radius: 10px;
    border-width: 10%;
    border-color: rgb(105, 255, 138);
    padding: 50px;
    box-shadow: 1px 1px 1px #999;
    margin-bottom: 10px;
    box-sizing: content-box;
    resize: none;
    width: 200px;
}

input{
    cursor: pointer;
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    background-color: orange;
    color: white;
    margin-bottom: 10rem;
    width: 200px;
}

input:hover{
    background-color:rgb(188, 219, 12);
}